<% content_for :title, "Chỉnh sửa giải thưởng" %>
<% content_for :title_page, "Chỉnh sửa giải thưởng" %>
<div class="card mb-3">
  <div class="card-body mx-2 mt-2 mb-4">
    <%= render 'admin/prizes/form' %>
  </div>
</div>