<% content_for :title, t("users.select_number.title") %>
<div data-controller="giftbox">
  <div class="text-header"><%= t("users.select_number.title") %></div>
  <div class="gift-grid mt-5">
    <% @numbers.each do |num| %>
      <button
        type="button"
        class="gift-box"
        data-giftbox-target="box"
        data-number="<%= num %>"
        data-action="click->giftbox#select"
      >
        <span class="gift-number"><%= num %></span>
      </button>
    <% end %>
  </div>
  <%= link_to t("common.login"), user_login_path,
              class: "btn btn-primary mt-3" %>
</div>
