.form-login {
  width: 400px;
  margin-top: 150px;
  padding: 20px;
  transition: 0.2s
}

.form-login:hover {
  box-shadow: 0 0 15px #ccc;
  border-radius: 10px;
  background: white;
}

.form-login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
}