<% content_for :title, "Tạo người dùng" %>
<% content_for :title_page, "Tạo người dùng" %>
<div class="card mb-3">
  <div class="card-body mx-2 mt-2 mb-4">
    <%= render 'admin/users/form' %>
  </div>
</div>
